$maincolor: #A9314E;

//header

.container{
    height: 100vh;
    overflow: scroll;
    padding-left: 0!important;
    padding-right: 0!important;
}

.main{
    margin-top: 6em;
}

.customNav{
    border-bottom: 1px grey solid;
    background-color: white;
    color: black;
}

Button{
    background-color: $maincolor!important;
    border-color: $maincolor!important;
}

//landing search

.searchbar{
    margin: 1em;
    display: flex;

    input{
        outline: none;
        padding: 0.7em;
        display: flex;
        margin: 0.5em auto;
        width: 90%;
        font-size: 0.9em;
        background-color: #EAEAEA;
        border:none;
        border-radius: 0.35em 0 0 0.35em;
        text-align: center;
    }
    .searchButton{
        padding: 0.7em;
        margin:0.5em auto;
        font-size:0.9em;
        border-radius: 0 0.35em 0.35em 0;
        background-color: #A9314E;
    }
    .fa-search{
        color: white;
    }
}

//landing user page

.barbershop{
    display: flex;
    background-color: #eee;
    margin: 0.8em 0;
    border-radius: 0.3em;
    height: 9em;
    max-height: 9em;

    .img{
        background-color: #ddd;
        flex: 1 0 40%;
        object-fit: cover;
    }
}

.info{
    display: flex;
    flex-direction: column;
    flex: 1 0 60%;
    padding: 0.3em;
    position: relative;

    h3{
        font-size: 1em;
    }

    .people{
        display: flex;
        padding: 0.5em;

        p{
            padding-left: 0.2em;
        }

        .fa-user, .fa-user-clock{
            color: $maincolor;
        }

    }

    .distance{

        p{
            text-align: right;
            padding: 0.4em;
        }
    }

    .barbershopEdit{
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.5em;
    }
}

//popup page

.popup{
    background-color: rgba(0,0,0,0.5);
    position: relative;
}

.infoPopup{
    background-color: white;
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    h2{
        text-align: center;
        padding: 0.2em;
    }

    .address{
        text-align: center;
    }

    .image{
        width: 100%;
        height: 10em;
        background-color: #ccc;
    }
}

.customers{
    display: flex;
    justify-content: space-evenly;
    margin: 1em;

    div{
        flex-direction: row;

        .people{
            display: flex;
            justify-content: space-evenly;
            padding: 0.3em;
        }
    }
}

hr{
    width: 90%;
    margin: auto;
}

.barbers{
    border: 1px red solid;
    width: 90%;
    margin: auto!important;
}

.barber{
    border: 1px blue solid;
    background-color: #ddd;
    padding: 0.5em;
    margin: 0;

    img{
        background-color: grey;
        width: 10em;
        height: 10em;
    }
}

.openingHours{
    margin-bottom: 1em;
}

.date{
    display: flex;
    width: 70%;
    margin: auto;
    text-align: left;

    div{
        margin: 0;
    }

    .days{
        width: 60%;
        color: $maincolor;
        font-weight: bold;
    }
}

//login

.login{
    position: fixed;
    top: 4em;
    background-color: white;
    width: 100vw;
    padding: 1em;
    display: none;
}

//adding to waiting list

//admin barbershop adding

.barbershopAdd{
    width: 90%!important;
    margin: 1.5em auto;
}

.form{
    padding: 1em;
    
    h1{
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 1em;
    }

    Button{
        display: flex;
        margin: auto;
    }
}

//admin barbershop edit

.barberForm{

    .buttons{
        display: flex;

        .deleteButton{
            background-color: white!important;
            color: black;
        }

        .deleteButton:hover{
            background-color: $maincolor!important;
            color: white;
        }
    }

    Button{
        margin: 3em auto;
        padding: 0.5em 2em;
        align-items: center;
        flex-direction: row;
    }
}

.barberImage{
    position: relative;

    .image{
        width: 100%;
        max-height: 15em;
        object-fit: contain;
    }
}

.img-fluid{
    width: 80%;
    margin: 1.5em auto;
    display: flex;
}

.upload-btn-wrapper{
    position: relative;
  
    input[type=file]{
        margin: 0 auto 2.5em;
    }

    Button{
        position: absolute;
        right: 0;
    }
}

.deleteModal{
    height: 40vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    background-color: white;
    position: absolute;
    box-shadow: 0.1em 0.1em 0.5em #ccc;

    h4{
        text-align: center;
        padding: 2.5em 0;
        font-size: 1.3em;
    }

    .buttons{
        display: flex;
        margin: 1.5em;
        justify-content: space-evenly;

        Button{
            padding: 0.5em 1.8em;
        }

        .deleteButton{
            background-color: white!important;
            color: black;
        }

        .deleteButton:hover{
            background-color: $maincolor!important;
            color: white;
        }
    }
}

//customer adding

.addCustomer{
    justify-content: center;
    width: 80%;
    margin: auto;

    Button{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding: 0.4em 2em;
    }
}

.barberCustomers{
    margin-top: 20vh;
    padding: 1em;
    border: 1px red solid;

    hr{
        width: 100%;
    }

    h3{
        font-size: 1.2em;
        padding-bottom: 0.5em;
    }
}

.currentCustomers{

    .customer{
        text-align: center;
    }

    svg{
        color: $maincolor;
        font-size: 1.3em;
    }
}